/* ::first-letter{
    color: yellow;
    background-color: red;
    font-size: 30px;
    font-weight: bold;
}

::first-line{
    color: rgb(85, 47, 255);
    background-color: rgb(255, 240, 189);
    font-family: Arial, Helvetica, sans-serif
}

p::before{
    content: "#";
}


p::after{
    content: "\01F525";
} */

div > p {
  color: red;
}

div p {
  background-color: yellowgreen;
}

section ~ span {
    color: fuchsia ;
    background-color: aqua;
}