
body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    padding: 20px;
}

.accordion {
    max-width: 600px;
    margin: auto;
}

.accItem {
    background: lightcyan;
    border-radius: 5px;
    box-shadow: 0 2px 4px grey;
    margin-bottom: 10px;
    overflow: hidden;
}

.accCabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background: white;
    border-bottom: 1px solid lightgray;
    text-decoration: none;
    color: black;
}

.accCabecera:hover {
    background-color: lightcyan;
}

.accContenido {
    display: none;
    padding: 15px;
    background: white;
}

.accContenido:hover{
    background-color: lightcyan;
}

.accCabecera:visited{
    background-color: lightyellow;
}

.accItemOpen .accContenido {
    display: block;
}

.botones {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.botones:hover{
    background-color: lightcyan;
}

.botones button {
    border: none;
    background: none;
    /* pagina donde he pillado referencias del color https://www.computerhope.com/htmcolor.htm */
    color: dodgerblue;
    cursor: pointer;
    margin-left: 10px;
}

.botones button:hover {
    text-decoration: underline;
    background-color: yellow;
}

.imagenes{
    height: 300px;
    width: 550px;
    display: block;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px grey;
}

.flechaAbajo{
    height: 37px;
    width: 37px;
    margin-right: 1px;
}